Exercise 1: Make an empty list and call it names

In [1]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [2]:
for name in ['Hannah', 'Victor', 'Sam', 'James', 'Sarah']:
    names.append(name)
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [3]:
names_reverse = sorted(names, reverse=True)
#print(names_reverse)
for name in names_reverse:
    print(name)

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [7]:
names_alphabetically = sorted(names)
x = 'y'
while x == 'y':
    print(names_alphabetically)
    x = input('Continue (y/n): ')

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']
Continue (y/n): y
['Hannah', 'James', 'Sam', 'Sarah', 'Victor']
Continue (y/n): n

Exercise 5: Pull out the fourth item from names and print it out

In [11]:
print(names[3])

James

Exercise 6: Pull out the first item from names and print it out

In [12]:
print(names[0])

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [14]:
fruits = 'Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit'
for fruit in fruits:
    fruits_lst = fruits.split(',')
print(fruits_lst)

['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [21]:
square_numbers = []
for i in range(10):
    x = (i+1)**2
    square_numbers.append(x)
print('square of each integer from 1 to 10:', square_numbers)

square of each integer from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [37]:

for i in range(10):
    multiply_by = 0
    for d in range(10):
        multiply_by += 1
        #print(multiply_by)
        y = (i+1)
        x = (y)*(multiply_by)
        print(f'{y}*{multiply_by}={x}')
    print('*'*20)

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
********************
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
********************
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
********************
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
********************
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
********************
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
********************
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
********************
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
********************
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
********************
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
********************

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [43]:
total_score = []
total = 0
count = 0
score = 'y'
while score != 'n':
    score = input('Enter your test score/Do you want to continue(y/n): ')
    try:
        number_score = int(score)
        total_score.append(number_score)
        count += 1
        total = total + number_score
    except:
        score = score
print('Original Scores:', total_score)
print('Average:', total/count)

Enter your test score/Do you want to continue(y/n): 90
Enter your test score/Do you want to continue(y/n): 80
Enter your test score/Do you want to continue(y/n): 50
Enter your test score/Do you want to continue(y/n): n
Original Scores: [90, 80, 50]
Average: 73.33333333333333

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [7]:
movies_lst = []
action = 0
count = 0

print( 'COMMAND MENU:\n')
print('\t"list" - list all movies')
print('\t"add" - add a movie')
print('\t"del" - delete a movie')
print('\t"exit" - exit program \n')

while action != 'exit':
    action = input('COMMAND: ')
    if action == 'list':
        #print('COMMAND: list movies available')
        for movie in movies_lst:
            count += 1
            print(f'{count}. {movie}')
        print(' '*20)
        continue
    if action == 'add':
        #print('COMMAND: add')
        movie_to_add = input('NAME: ')
        movies_lst.append(movie_to_add)
        print(f'{movie_to_add} was added.')
        count = 0
        print(' '*20)
        continue
    if action == 'del':
        #print('COMMAND: del')
        movie_to_del = int(input('Number: '))
        x = movies_lst.pop(movie_to_del-1)
        print(f'{x} was deleted.')
        count = 0
        print(' '*20)
        continue
    if action == 'exit':
        action == 'exit'

COMMAND MENU:

	"list" - list all movies
	"add" - add a movie
	"del" - delete a movie
	"exit" - exit program

COMMAND: add
NAME: Toy Story
Toy Story was added.

COMMAND: add
NAME: Lion King
Lion King was added.

COMMAND: add
NAME: Frozen
Frozen was added.

COMMAND: list
1. Toy Story
2. Lion King
3. Frozen

COMMAND: add
NAME: Snow White
Snow White was added.

COMMAND: list
1. Toy Story
2. Lion King
3. Frozen
4. Snow White

COMMAND: del
Number: 3
Frozen was deleted.

COMMAND: list
1. Toy Story
2. Lion King
3. Snow White

COMMAND: exit